@import "/src/styles/variables";

.navigation {
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: $background-white;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid $border-color-grey;

    .container {
        padding: 1em 0 0.9em 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
        margin: 0 auto;

        .logo{ 
            padding: 0 1em;
            width: 100px;

            &:hover{
                cursor: pointer;
            }
        }

        .search{
            display: flex;
            border-radius: 8px;
            border: transparent 1px;
            background-color: $background-grey;
            min-width: 225px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 36px;
            width: 268px;
            padding: 0 16px;

            .searchIcon{
                width: 16px;
                height: 16px;
                opacity: 0.6;
                margin-right: 0.3em;
            }

            .searchText{
                color: $font-color-secondary;
                // font-size:0.85em;
                font-weight: 300;
            }

        }
    }
}

@media only screen and (max-width: 670px){
    .search{
        display: none !important;

    }
}